.item {
  position: fixed;
  top: 100%;
  left: 100%;
  background: rgba(0, 0, 0, 0.6);
  width: 50%;
}

.item-main {
  position:fixed;
  background: whitesmoke;
  color: black;
  width: 60%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  border: 3px solid red;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.close_button {
  background-color: #f44336;
  color: whitesmoke;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  border: none;
  cursor: pointer;
}