.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.header {
  grid-column: 1 / 5;
  grid-row: 1;
  text-align: center;
}

.side_bar {
  grid-column: 1;
  grid-row: 2 / 5;
}
.product_grid {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.footer {
  grid-column: 1 / 5;
  grid-row: 5;
  text-align: center;
}
